#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-inline {
    display: inline;
    text-decoration: none;
    color: grey;
}

.number.mu {
    text-decoration: none;
    position: absolute;
    top: -2px;
    right: -3px;
    background-color: rgb(172, 35, 35);
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 50%;
}

.fa-shopping-cart {
    color: rgb(159, 159, 159);
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}